
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
li {
  margin: 2%;
}

.menu nav ul li :hover {
  color: cornflowerblue;
}

a {
  text-decoration: none;
  color: black;
}

.menu{
  background-color: #D9D9D9;
  margin: 0 auto;
  width: 90%;
}
body {
  background-color: #39537A;
}

.eliminar{
  /*display: block;*/
  /*clear: right;*/
  /*margin: 0 auto;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*-ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
}

.container {

}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity:  .5;
}

.container {

}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity:  .5;
}

.container {

}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity:  .5;
}
